@{
    ViewBag.Title = "Contato";
}
 
<h3>Fale conosco</h3>

<address>
    Inove Imports Atacado<br />
    Goiânia, GO cep-cep<br />
    <abbr title="OI">Fone:</abbr>
    062 981434440<br />
    <abbr title="OI">Fone:</abbr>
    062 981122939<br />
    <abbr title="Claro">Fone:</abbr>
    062 983306752<br />
    <abbr title="Cadastro Nacional da Pessoa Jurídica">CNPJ: 15130290 0001-65</abbr>
</address>

<address>
    <strong>Entre em contato:</strong> <a href="mailto:inoveacessorios10@gmail.com">inoveacessorios10@gmail.com</a><br />
</address>