 
@{
    ViewBag.Title = "Entrada";
}

<div class="row" style="height: 400px" >
 
 
        <img src="~/fonts/INOVE.png" style="border-image-repeat:unset; display:block; margin:auto; fill:Background" />
 
</div>